<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dongfang.daohang"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:name="com.dongfang.v4.app.BaseApplication">
        <activity
            android:name="com.dongfang.daohang.MainDaohangActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.dongfang.daohang.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="UserLRLoginActivity" />
        <activity android:name="UserFollowActivity" />
        <activity android:name="UserInfoActivity" />
        <activity android:name="UserInfoModifyActivity" />
        <activity android:name="UserRecordActivity" />
        <activity android:name="UserLRRegisterActivity" />
        <activity android:name="com.dongfang.v4.app.MCaptureActivity" />
        <activity android:name="WapActivity" />
        <activity android:name="SettingFeedbackActivity" />
        <activity android:name="SettingAboutActivity" />
        <activity android:name="SettingMapDownloadActivity" />
        <activity android:name="ShopInfoActivity" />
        <activity android:name="ShopWabActivity" />
    </application>

</manifest>