<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dongfang.dicos"
    android:versionCode="21010025"
    android:versionName="1.0.25" >
    
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="10" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
<!--     <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" /> -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name=".FirstpageActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DicosMainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity android:name=".DiscountCouponActivity" android:screenOrientation="portrait" android:launchMode="singleTask"> </activity>
        <activity android:name=".CurrentSeason" android:screenOrientation="portrait" android:launchMode="singleTask"> </activity>
        <activity android:name=".StoreSearchActivity" android:screenOrientation="portrait" android:launchMode="singleTask"></activity>
        <activity android:name=".MoreActivity" android:screenOrientation="portrait" android:launchMode="singleTask"></activity>
        <activity android:name=".KaZiMeiWeiActivity" android:screenOrientation="portrait" android:launchMode="singleTask"
            android:theme="@android:style/Theme.Black"></activity>
        <activity android:name=".MyDicosActivity" android:screenOrientation="portrait" android:launchMode="singleTask"></activity>
        
        <activity android:name=".CurrentSeasonDetail" android:theme="@android:style/Theme.Black" android:screenOrientation="portrait" android:launchMode="singleTask"></activity>
        
        <activity android:name=".more.ChgPwdActivity" android:screenOrientation="portrait" android:launchMode="singleTask"></activity>
        <activity android:name=".more.TongBuActivity" android:screenOrientation="portrait" android:launchMode="singleTask"></activity>
        <activity android:name=".more.TuiSongActivity" android:screenOrientation="portrait" android:launchMode="singleTask"></activity>
        <activity android:name=".more.CityListActivity" android:screenOrientation="portrait" android:launchMode="singleTask"></activity>
        <activity android:name=".more.FeedBackActivity" android:screenOrientation="portrait" android:launchMode="singleTask"></activity>
        <activity android:name=".more.SinaWeiboAuthorization" android:screenOrientation="portrait" android:launchMode="singleTask"></activity>
        <activity android:name=".more.KaixinWeiboAuthorization" android:screenOrientation="portrait" android:launchMode="singleTask"></activity>
        
        <activity android:name=".kzmw.RegisterActivity" android:screenOrientation="portrait" android:launchMode="singleTask"></activity>
        <activity android:name=".kzmw.LoginActivity" android:screenOrientation="portrait" android:launchMode="singleTask"></activity>
        <activity android:name=".kzmw.GetPasswordByEmail" android:screenOrientation="portrait" android:launchMode="singleTask"></activity>
        <activity android:name=".kzmw.SigneInActivity" android:screenOrientation="portrait" android:launchMode="singleTask" android:configChanges="orientation|keyboardHidden"></activity>
        <activity android:name=".kzmw.LotteryActivity" android:screenOrientation="portrait" android:launchMode="singleTask"></activity>
        
        <activity android:name=".lottery.JoinInActivity" android:screenOrientation="portrait" android:launchMode="singleTask"></activity>
        <activity android:name=".lottery.InfoActivity" android:screenOrientation="portrait" android:launchMode="singleTask"></activity>
        <activity android:name=".lottery.PrizeInfoActivity" android:screenOrientation="portrait" android:launchMode="singleTask"></activity>
        <activity android:name=".lottery.PrizeInfoTempActivity" android:screenOrientation="portrait" android:launchMode="singleTask"></activity>
        <activity android:name=".lottery.PrizeProvideActivity" android:screenOrientation="portrait" android:launchMode="singleTask"></activity>
        <activity android:name=".lottery.DetailActivity" android:screenOrientation="portrait" android:launchMode="singleTask"></activity>
        
        <activity android:name=".lottery.info.ProbabilityListActivity" android:screenOrientation="portrait" android:launchMode="singleTask"></activity>
        <activity android:name=".lottery.info.MyInfoActivity" android:screenOrientation="portrait" android:launchMode="singleTask"></activity>
        
        <activity android:name=".store.StoreDetailActivity" android:screenOrientation="portrait" android:launchMode="singleTask"></activity>
        <activity android:name=".store.StoreDetailMapActivity" android:screenOrientation="portrait" android:launchMode="singleTask"></activity>
       
    </application>

</manifest>